<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Irvuewin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Irvuewin.Properties.Settings>
            <setting name="MultiDisplay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WallpaperMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenSavedWallpaper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WallpaperSavedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LaunchAtLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WallpaperOrientation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SmartFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinResolution" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="WallpaperChangeInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomWallpaper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserUnsplashChannels" serializeAs="String">
                <value>317099,7282015,5279,8498187</value>
            </setting>
            <setting name="UserCheckedChannel" serializeAs="String">
                <value>317099</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserFilterList" serializeAs="String">
                <value />
            </setting>
        </Irvuewin.Properties.Settings>
    </userSettings>
</configuration>